#container {
    display: flex;
    border: 2px solid black;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

}
.slides img {
    width: 100%;
    display: none;
}
img.displaySlide {
    display: block;
}

.arrows {
    justify-content: space-between;
}
body {
    display: flex;
}